@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    color: white;
   font-weight: 600;
}
body{
    display: flex;
    justify-content: center;
}
.container{
    height: 100%;
    width: 100%;
}
.container img{
    height: 100vh;
    width: 100%;
}
main{
    position: absolute;
    top: 10vh;
}
.min-container{
    /* border: 1px solid; */
    width: 300px;
    height: 460px;
    background: linear-gradient(to top, rgba(0, 128, 0, 0.281), rgba(135, 207, 235, 0.452) );
    border-radius: 12px;
    backdrop-filter: blur(2px);
    padding: 20px;
}
.city{
    width: 100%;
    padding: 10px 16px;
    border-radius: 99px;
    border: 3px solid transparent;
    background: rgb(0, 0, 0, 0.15);
    outline: none;
    font-weight: 500;
    transition: 0.25s border;
    padding-right: 45px;
}
.city:focus{
    border: 3px solid rgb(0, 0, 0, 0.15);
}

.city::placeholder{
    color: #fff;
}
.search-btn{
    position: absolute;
    right: 35px;
    top: 40px;
    transform: translateY(-50%);
    background: none;
    display: flex;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
}
.weather-container{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.location-data-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.location{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 20px;
}
.current-data-txt{
    margin-top: 20px;

}
.rigular-txt{
    font-weight: 400;
}
.weather-img{
    width: 100px;
}
.weather-summer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.condition-txt{
    text-align: end;
}
.weather-condition-container{
    display: flex;
    justify-content: space-between;
}
.condition-item{
  display: flex;
  align-items: center;
  gap: 6px;
}
.forecast-item img{
    width: 35px;
}
.forecast-item{
    min-width: 75px;
    background: rgb(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
    align-items: center;
    border-radius: 12px;
    transition: 0.3s;
}
.forecast-item-container{
    margin-top: 40px;
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    padding-bottom: 12px;
}
.forecast-item-container::-webkit-scrollbar{
    height: 8px;
}
/* .end{
    width: 100%;
} */
.forecast-item-container::-webkit-scrollbar-track{
    background: rgb(0, 0, 0, 0.1);
    border-radius: 99px;
}
.forecast-item-container::-webkit-scrollbar-thumb{
    background: rgb(0, 0, 0, 0.15);
    border-radius: 99px;
}
.forecast-item:hover{
    background: rgb(255, 255, 255, 0.15);
}
.seacrh-city img{
    height: 180px;
}
.seacrh-city{
    text-align: center;
    margin-top: 15px;
}
.weather-img{
    height: 100px;
    width: 100px;
}
.disab{
    display: none;
}
.weather-summer{
    margin-top: -20px;
    margin-bottom: -20px;
}
  
   
    @media (max-width: 1000px) {
       .container{
        height: 100vh;
       }
        .min-container{
            width: 650px;
            height: 750px;
        }
        
        main{
            position: absolute;
            top: 27vh;
           left: 7vh;
    backdrop-filter: blur(5px);

        }
        .search-btn{
               font-size: 35px;
               top: 50px;
               right: 50px;
        }
        .city{
            padding: 18px 16px;
            font-size: 25px;
            letter-spacing: 2.5px;
        }
        .seacrh-city{
            margin-top: 50px;
        }
        .seacrh-city img{
            height: 250px;
        }
        .rigular-txt{
            font-size: 25px;
        }
        .seacrh-city h1{
            margin-top: 10px;
            font-size: 35px;
        }
        .location{
            font-size: 35px;
        }
        .location span{
            font-size: 45px;
        }
        .location-data-container h5{
            font-size: 30px;
        }
        .weather-summary-info h1{
            font-size: 45px;
        }
        .weather-summary-info h3{
            font-size: 30px;
        }
        .weather-summer{
           margin-top: 20px;
           margin-bottom: 20px;
        }
        .weather-summer img{
            height: 200x;
            width: 200px;
        }
        .condition-item h5{
            font-size: 30px;
        }
        .condition-item svg{
            height: 50px;
            width: 50px;
        }
        .forecast-item h5{
            font-size: 25px;
        }
        .forecast-item img{
            width: 50px;
        }
        .weather-container{
            margin-top: 20px;
        }
}
@media (max-width: 530px) {    
     main{
         position: absolute;
         top: 25vh;
        left: 0;
     }
     .min-container{
        width: 300px;
        height: 460px;
    }
    
}
@media (max-width: 550px) {    
    main{
        position: absolute;
        top: 20vh;
       left: 10vh;
    }
    .min-container{
       width: 400px;
       height: 580px;
   }
   
}
@media (max-width: 375px) {    
    main{
        top: 10vh;
       left: 0;
    }
    .min-container{
       width: 320px;
       height: 550px;
   }
   
}































